.price-target-form {
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    justify-content: center;
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & input {
      max-width: 200px;
      margin-top: $superSmall;
      margin-bottom: $superSmall;

      @media (min-width: 992px) {
        margin-right: $superSmall;
      }
    }
  }
}
