.spinner-box {
  font-size: 20px;
  margin: $medium;
}

.spinner {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 200%;
    left: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: 1s spin linear infinite;
  }
  &:before {
    transform: rotateX(70deg);
  }
  &:after {
    transform: rotateY(70deg);
    animation-delay: 0.4s;
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px $white;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 $white;
  }
  25% {
    box-shadow: 0 0.2em 0 0px $white;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 $white;
  }
  50% {
    box-shadow: -0.2em 0 0 0 $white;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 $white;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 $white;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 $white;
  }
}
