// COLORS
$white: #f1f1f1;
$black: #1b1b1b;
$darker-grey: #34363b;
$dark-grey: #3d4046;
$lighter-dark-grey: #54575c;
$blue: #53bbf0;
$yellow: rgb(255, 255, 128);
$pink: #db45ae;
$light-pink: #f9ceff;
$violet: rgb(166, 167, 243);
$green: rgb(81, 155, 93);
$green-opacity-light: rgba(104, 207, 122, 0.671);
$green-opacity-dark: rgba(104, 207, 122, 0.671);

//PADDING I MARGIN
$superSmall: 5px;
$small: 15px;
$normal: 25px;
$medium: 40px;
$big: 60px;

// TRANSITION DURATION
$trd: 0.3s;

// BORDER RADIUS
$brrSmall: 5px;
$brrMedium: 15px;
$brrBig: 25px;
$brrRound: 50%;
